/*
 * Add your CSS styles to this file.
 */
body {
	padding:0px;
	margin: 0px;
  background: #ffffff no-repeat fixed center;
	background-size: cover;
}
.header {
	margin: 0px 0px;
	padding: 5px;
	background-color: #272822;
}
a {
	text-decoration:none;
	color: #888473;
	font-size: 15px;
}
a:hover {
	color: #67d0cc;
	font-size: 16px;
}
h1 {
	margin: 0px;
	color: #b3e35d;
}
h2 {
	margin: 0px;
	color: #67d0cc;
}
h3 {
	margin: 0px;
	color: #ebde91;
}
h4 {
	margin: 0px;
	color: #67d0cc;
}
li {
	list-style-type: none;
}
p {
	color: #888473;
}
.box {
	width: 180px;
	margin: 0px;
	padding: 0px;
}
.face {
	display: inline-block;
	border-radius: 10px;
	padding: 10px;
	background-color: #272822;
	width: 256px;
	height: 100%;
}
.desc {
	display: inline-block;
	padding: 10px;
	margin: 0px 10px;
	border-radius: 10px;
	background-color: #272822;
	width: 256px;
}
.title {
	text-align: center;
}
.filler {
	height: 240px;
}
a {
	text-decoration: none;
}

.navbar{
	width: 100%;
  background-color: #d2dcdc;
}
.navbar a{
	float: left;
	padding: 12px;
	width: 25%;
	text-align: center;
	width: 106px;
	color: darkslategray;
}
ul.navlist {
	text-align: center;
}
.item {
	display: inline-block;
}
.title{
	text-align: center;
	font-size: 40px;
	position: relative;
	top: 58px;
}

.content {
	text-align:center;
	font-size: 20px;
	position: relative;
	top: 68px;
}
